*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
h1{
    margin: 1rem;
    text-align: center;
}
#input-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#input-box input{
    width: 40rem;
    height: 2rem;
    margin: 0.5rem;
    border: 1px solid green;
    border-radius: 2rem;
    text-align: center;
}
#submit-button{
    
    background-color: green;
    color: white;
    padding: 2;
    width: 10rem;
    height: 3rem;
    border: none;
    border-radius: 2rem;
    transition: 200ms;
}
#submit-button:hover{
    background-color: rgb(2, 100, 2);
    width: 11rem;
}
#table-box{
    display: flex;
    justify-content: center;
}
#table-box table{
    
    width: 70rem;
    margin: 2rem;
    
}
#table-box table tr{
    
    text-align: center;
    
}
#table-box table tr td{
    width: 20rem;
}
#table-box table tr td button{
    width: 3rem;
    background-color: green;
    color: white;
    border: none;
    border-radius: 2rem;
    transition: 200ms;
}
#table-box table tr td button:hover{
    background-color: rgb(2, 100, 2);
    width: 4rem;
}